<div class="product-list">
  <div *ngIf="(productSlice$|async) as productSlice">
    <div *ngIf="(i18nSlice$|async) as i18nSlice">
      <table *ngIf="productSlice.items.length > 0; else noProducts">
        <thead>
          <tr>
            <th>Sku</th>
            <th>Title</th>
            <th class="align-right">Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productSlice.items">
            <td>{{item.sku}}</td>
            <td>
              <ab-product-tile-with-thumb [title]="item.title" [thumbnail]="item.thumbnail" />
            </td>
            <td class="align-right">{{formatPrice(i18nSlice.locale, i18nSlice.currencyCode, item.unitPrice)}}</td>
            <td>
              <button (click)="addProductToCartClick(item)">
                Add to cart
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noProducts>
        <p>There are no products.</p>
      </ng-template>
    </div>
  </div>
</div>
